<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User by id</title>
</head>
<body>
<table border="1">
    <tr style="color: indianred">
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
    </tr>
    <tr>
    <tr>
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.email}"></td>
    </tr>
</table>

</body>
</html>